 Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

PORT=3000
DATABASE_URL=mongodb+srv://siddhantshah04:VVBOm7J1bkT0kVIr@clanx.v451rb5.mongodb.net/?retryWrites=true&w=majority&appName=clanx